body {
  background: silver;
  font-family: "Fjalla One", sans-serif;
  margin: 0px;
}

p {
  max-width: 800px;
}

.stroked {
  color: rgb(248, 188, 188);
  text-shadow: -1px -1px 0 #000, 4px -1px 0 #000, -1px 4px 0 #000, 4px 1px 0 #000;
}

.header {
  text-align: center;
  padding-bottom: 2px;
  border-color: rgba(138, 129, 129, 0.767);
  color: rgb(212, 101, 26);
  margin-bottom: 32px;
  font-family: Mansalva;
  font-size: 60px;
  border: 2px solid;
  padding: 0px;
  margin: 0px;
  background: url("http://4.bp.blogspot.com/-WMq9Fh0J2Uw/Tmy7zWpN0dI/AAAAAAAAAAM/BpN3rL9kmlo/s1600/coral1.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  font-size: 15px; 
  padding: 8px;
  margin-bottom: 16px;
} 

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.dropdown-target {
  position: relative; 
  height: 20px;
}

.dropdown-target:hover {
  height: 100px;
}

.dropdown-content {
  margin-top: 8px;
  flex-direction: column;
  opacity: 0;
  transition: all .3s ease-out;
}

.dropdown-target:hover .dropdown-content {
  opacity: 1;
}

.image {
  text-align: center;
}

.center {
  text-align: center;
  flex-grow: 1;
}

.box {
  color: FireBrick;
  border: 2px solid;
  padding: 20px 10px;
  margin: 25px 250px;
  background-color: DarkCyan;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.border {
  border: 2px solid;
  color: LightCoral;
}

a {
  color: LightCoral;
  text-decoration: none;
}
